/* modifica di tutti gli elementi */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

body {
    background: linear-gradient(#0f0f77 5%, #3535EC); /* la percentuale indica la predominanza di un colore rispetto al colore che viene dopo */
    background-attachment: fixed;
    height: 100vh; 
}

.piano {

}

.piano-panel {
    height: 5.875rem;
    background-color: #f71469; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem;
    background-image: url(immagini/panel-reflex.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.piano-panel img {
    width: 10rem;
}

.piano-keys{
    height: 11.875rem;
    background-color: #000000;
}